doctype html
html
	head
		title AvocadOS
		link(rel="stylesheet" href="https://bootswatch.com/sandstone/bootstrap.min.css")
		link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css")
	body
		.container-fluid.text-center.jumbotron
			img#logo(src="avocadOS.svg")
			p A Revolutionary Operating System Running jQuery
			a.btn.btn-default(href="https://github.com/jQueryOS")
				h4
					i.fa.fa-github
					|&nbsp;&nbsp;Star on Github!
		.container
		h1 What AvocadOS?
		p Avacad<b>os</b>, stylized as <b>AvocadOS</b>, is a minimal operating system designed to run almost pure jQuery.
		h1 The name?
		p Formerly jQueryOS, the name was changed to AvocadOS. It is based on a <a href="https://en.wikipedia.org/wiki/Meme">meme</a> from <a href="http://codegolf.xyz">Programming Puzzles & Code Golf</a>:
			blockquote
				p hello i have quetions how does juice an avocado i have try for thirtee minut and no juic
				small user46049, avocado juice fanatic
		h1 The AvocadOS Manifesto
		p AvocadOS is great and does all the things.
			ol
				li jQuery is the best-quality code ever. If you don't use jQuery you're an idiot.
				li Only jQuery, otherwise not enough jQuery!
				li jQuery is definitely the way to go.
	script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js")
	script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js")